@tailwind base;
@tailwind components;
@tailwind utilities;


.pet-stock-color{
  background-color: rgb(0, 40, 85);
}
.pet-stock-text-color{
  color: rgb(0, 40, 85);
}
.btn{
  text-transform: capitalize;
}

.p-btn-addToCartSale{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.p-btn-addToCart{
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}